body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
/* home
 background: #3A90C5;
  background: -webkit-linear-gradient(to right, #1D5280, #3A90C5);
  background: linear-gradient(to top, #1D5280, #3A90C5);
*/
/*About us
background: #9C2F36;
background: -webkit-linear-gradient(to right, #9C2F36, #3A90C5);
background: linear-gradient(to top, #9C2F36, #3A90C5);
*/
/*Promotions

*/
